<nav id="nav">
    {% unless page.layout == 'front' %}
    <ul class="links">
        {% assign url = page.url|remove:'.html' %}        
        {% for link in site.navigation %}
            <li {% if url == link.url %}class="active"{% endif %}>
                <a href="{{link.url}}" title="{{link.title}}">{{link.text}}</a>
            </li>
        {% endfor %}               
    </ul>
    {% endunless %}
    <ul class="icons">
        <li><a href="{{site.social.twitter}}" target="blank_" class="icon fa-twitter"><span class="label">Twitter</span></a></li>                
        <li><a href="{{site.social.github}}" target="blank_" class="icon fa-github"><span class="label">GitHub</span></a></li>
        <li>                        
            <a class="github-button" href="{{site.social.github}}" data-icon="octicon-star" data-show-count="true" aria-label="Star rusenask/keel on GitHub">Star</a>
        </li>
    </ul>
</nav>