<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.scrollex.min.js"></script>
<script src="/assets/js/jquery.scrolly.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script src="/assets/js/anchor.min.js"></script>
<script>
  {% comment %} anchors.add('h2', 'h3', 'h4'); {% endcomment %}
  anchors.add();
</script>