<!DOCTYPE html>
<html>
{% include head.html %}

<body>

    <div id="wrapper">
        {% include header.html %} 
        {% include nav.html %}

        <div id="main">
            <article class="post">
                <header class="major">
                    <h1><a href="#">{{ page.title }} </a></h1>			
                    <p> {{ page.subtitle }} </p>
                </header>
                {{ content }}				
            </article>	
            
        </div>
        {% include footer.html %} 
        {% include copyright.html %}
    </div>
    {% include scripts.html %}
</body>

</html>